@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,900&display=swap');

body {
    font-family: 'Lato', sans-serif;
    background-color: #122932;
    color: whitesmoke;
}

#formSubmit {
    border: 1px solid #2C514C;
    background-color: #2C514C;
    border-radius: 10px;
    width: 20%;
    padding: 2rem;
}


.TODOpanel {
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.left-pane {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 45%;
    background-color: rgba(32, 74, 90, 0.3);
    border-radius: 10px;
    margin: 5px;
    padding: 2rem;
}

.right-pane {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 45%;
    background-color: rgba(32, 74, 90, 0.3);
    border-radius: 10px;
    margin: 5px;
    padding: 2rem;
}

.siteContainer {
    width: 1440px;
    margin: 0 auto;
}

.danger {
    border: 1px solid red;
}

.singlePItem {
    display: flex;
    justify-content: space-between;
}

.inProgressButton {
    display: block;
}

.hidden {
    display: none !important;
}

.show {
    display: block !important;
}

.trash {
    width: 10px;
    height: 10px;
}

.buttonContainer {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
}

.completedItem {
    background-color: grey;
    border-radius: 10px;
    padding: 0.5rem;
}

.inProgressItem {
    background-color: grey;
    border-radius: 10px;
    padding: 0.5rem;
}

.ToDoItem {
    background-color: grey;
    border-radius: 10px;
    padding: 0.5rem;
}

.allToDos,
.allInProgress,
.allCompleted {
    background-color: #8BA79A;
    padding: 3rem;
    border-radius: 10px;
}


/* .ToDoButton .buttonContainer .InProgressItem {
    background-color: #60495A;
} */
.ToDoItem .buttonContainer .inProgressButton {
    background-color: #F0A868;
    border-radius: 5px;
    cursor: pointer;
}

.completedItem .buttonContainer .inProgressButton {
    background-color: #F0A868;
    border-radius: 5px;
    cursor: pointer;
}

.inProgressItem .buttonContainer .ToDoButton {
    background-color: grey;
    border-radius: 5px;
    cursor: pointer;
}

.completedItem .buttonContainer .ToDoButton {
    background-color: grey;
    border-radius: 5px;
    cursor: pointer;
}

.ToDoItem .buttonContainer .completedButton {
    background-color: #739686;
    border-radius: 5px;
    cursor: pointer;
}

.inProgressItem .buttonContainer .completedButton {
    background-color: #739686;
    border-radius: 5px;
    cursor: pointer;
}

.ToDoItem .buttonContainer .inProgressButton:hover,
.ToDoButton:hover,
.completedButton:hover {
    box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
    transform: scale(1.05);
}